<!doctype html>
<html ng-app="eventsApp">
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet"> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Listing of women-in-tech events in Ireland">

<title>Listing of women-in-tech events in Ireland</title>

<link rel="stylesheet" href="css/events.css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js" ></script>
<script src="js/events.js"></script>

</head>

<body>

<main>
	<div ng-controller="eventsCtrl">
		<section>
			<h1 class="section-title fontawesome-save"> A listing of women-in-tech events in Ireland</h1>
			<div ng-repeat="monthyear in event_items | orderBy: 'startdate' | groupBy:'monthyear'">
			
				<h2 class="group-title">{{ monthyear | date: 'MMMM yyyy' }}</h2>

				<ul class="event-group">

					<li class="event-item" ng-repeat="event in event_items | filter: {monthyear: monthyear} | orderBy: 'startdate'">
						
						<a class="event-link" href="http://{{event.url}}" target="_blank">
						<div class="event-date">{{event.startdate | date: 'EEE'}}<br>{{event.startdate | date: 'd MMM'}}</div>
						<h3 class="event-title">{{event.title}}</h3>
						<div class="event-description">{{event.description}}</div>
						<ul class="event-details">
							<li>{{event.startdate | date: 'EEE, MMMM d'}} {{event.enddate ? '- '+(event.enddate | date: 'EEE, MMMM d') : ''}}</li>
							<li>{{event.location}}</li>
						</ul>
						<span class="event-cta">Find out more</span>
						</a>
						
					</li>

				</ul>
				
			</div>
		</section>
	</div>
</main>

<footer>

	<section>
		<h3>This page</h3>
		<ul>
		<li>is intermittently updated by <a href="https://twitter.com/_caitriona" target="_blank">Caitriona</a></li>
		<li><a href="https://github.com/caitriona/wit-events-ie" target="_blank">is hosted on github.</a> Pull requests welcome!</li>
		</ul>
	</section>
	
	<section>
		<h3>Tech Event Resources / Links</h3>
		<ul>
		<li><a href="https://twitter.com/_caitriona/lists/women-in-tech-events-ie" target="_blank">Twitter List</a></li>
		<li><a href="https://www.startupdigest.com/digests/dublin" target="_blank">Dublin Startup Digest</a></li>
		<li><a href="https://www.meetup.com/topics/witi/ie/dublin/" target="_blank">Meetup.com, Women in Technology Meetups</a></li>
		<li><a href="https://www.eventbrite.com/" target="_blank">Eventbrite.com</a></li>
		<li><a href="http://witsireland.com/events/" target="_blank">WITS Ireland</a></li>
		<li><a href="http://www.meetup.com/Women-Who-Code-Belfast/" target="_blank">Women Who Code, Belfast</a></li>
		<li><a href="http://www.meetup.com/Ireland-Girl-Geek-Dinners/" target="_blank">Ireland Girl Geek Dinners</a></li>
		<li><a href="http://www.codess.net/events/dublin" target="_blank">Codess, Dublin</a></li>
		<li><a href="https://www.facebook.com/ConnectingWomenInTechnology" target="_blank">Connecting Women In Technology</a></li>
		<li><a href="https://codinggrace.com/" target="_blank">Coding Grace</a></li>
		<li><a href="https://twitter.com/ladiesthatuxdub" target="_blank">Ladies that UX, Dublin</a></li>
		<li><a href="http://railsgirls.com/dublin" target="_blank">Rails Girls, Dublin</a></li>
		<li><a href="https://www.facebook.com/wearehere.ireland" target="_blank">weAREhere Ireland</a></li>
		<li><a href="https://twitter.com/djangogirlsbel" target="_blank">Django Girls Belfast</a></li>
		<li><a href="https://djangogirls.org/dublin/" target="_blank">Django Girls Dublin</a></li>
		<li><a href="http://www.meetup.com/Women-Who-Code-Dublin/" target="_blank">Women Who Code, Dublin</a></li>
		<li><a href="https://twitter.com/TeenTurn" target="_blank">Teen-Turn</a></li>
		<li><a href="https://twitter.com/LovelaceSpace" target="_blank">Lovelace Space</a></li>
		<li><a href="https://www.meetup.com/PyLadiesDublin/" target="_blank">PyLadies Dublin</a></li>
		<li><a href="https://www.meetup.com/R-Ladies-Dublin/" target="_blank">R-Ladies Dublin</a></li>
		<li><a href="https://www.meetup.com/Women-in-Blockchain-Dublin/" target="_blank">Women in Blockchain, Dublin</a></li>
		<li><a href="https://www.meetup.com/WIBD_Ireland/" target="_blank">Women in Big Data (Ireland)</a></li>
		<li><a href="https://www.meetup.com/HER-Data/" target="_blank">HER+Data</a></li>
		</ul>
	</section>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1307305-3', 'auto');
  ga('send', 'pageview');

</script>

</html>
